.bottom-stripe {
    background-color: #343a40;
    height: 45%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

#authentication-header {
    z-index: -1;
    position: absolute;
}

#main-section {
    height: 100vh;
}

#authentication-card {
    width: 32rem;
    padding: 2.8rem;
    top: -5%;
}