.btn-default {
    background-color: #e7e7e7 !important;
}

/*input:invalid {*/
/*    border: 2px dashed red;*/
/*}*/

/*input:valid {*/
/*    border: 2px solid black;*/
/*}*/

html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#milestone-list {
    overflow: auto;
    height: calc(100% - 15rem);
}

.milestone-title {
    font-size: 1.25rem;
    margin-bottom: .2rem;
}

.actions-class {
    align-items: unset !important;
    margin: 1.25em !important;
}

.btn-dialog-css{
    margin-left: .5rem;
    margin-right: .5rem;
}