<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/images/123logo.png">
    <link rel="shortcut icon" sizes="196x196" href="/images/123logo.png">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>

    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <!-- Include English language -->
    <title>Home page</title>

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-9">
        <div class="row d-flex align-items-end">
            <div class="col-1-2">
                <h4 class="mb-0">Project</h4>
            </div>
            <div class="col-3 ">
                <div class="input-group input-group-sm">
                    <select class="custom-select" id="inputGroupSelectProject"
                            aria-label="Example select with button addon">
                        {{#projects}}
                            <option value="{{id}}">{{name}}</option>
                        {{/projects}}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i
                                class="fas fa-plus-square fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-4 justify-content-center">
                <button type="button" class="btn btn-sm btn-default">
                    <i class="fas fa-user-plus fa-lg"></i>
                </button>
                <div class="d-inline-block align-middle">
                    <label class='mb-0'> <i class="fas fa-user-circle fa-lg"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="float-right d-flex">
            <div class="dropleft">
                <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i
                        class="fas fa-sign-out-alt fa-lg"></i>
                </button>
                <div class="dropdown-menu col-12 p-3" aria-haspopup="true" aria-expanded="false">

                    <div class="row">
                        <div class="col p-1 text-center">
                            <label class='font-weight-bold'>Logout now?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 p-1">
                            <form action="login" method="get" class="mb-0">
                                <input type="hidden" name="action" value="delete"/>
                                <button type="submit" class='btn btn-primary btn-block'><i
                                        class="fas fa-sign-out-alt fa-lg"></i></button>
                            </form>
                        </div>
                        <div class="col-6 p-1">
                            <a href="#" class='btn btn-default btn-sm btn-block'>Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-inline-block">
                <label class=' col-sm-auto text-center'>
                    <i class="fas fa-user-circle fa-2x"></i>
                    <p class="mb-0">{{fullName}}</p>
                </label>
            </div>
        </div>
    </div>
</nav>
<!-- End of Navigation -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-2">
            <div class="row mt-3 mr-1">
                <div class="col-4">
                    <h3>
                        Today
                    </h3> <span class="">{{formattedDate}}</span>
                </div>
                <div class="col-8 card p-3">
                    <!--                    TODO: capture form from reloading page-->
                    <form id="addForm">
                        <div class="row">
                            <div class="col-6">
                                    <textarea id="milestone-name" name="milestone-name" class="form-control w-40 h-10"
                                              placeholder="Enter milestone description here" required></textarea>
                            </div>
                            <div class="col-4">
                                <input type='date' name="dateDue" id="dateDue" class="form-control" min="2019"
                                       required/>
                            </div>
                            <div class="col-2">
                                <button name="addMilestoneBtn" id="addMilestoneBtn" class="btn btn-primary btn-block">
                                    Add
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="row border rounded m-1 mt-3 d-flex" id="milestone-list">
        <div class="col-12">
            <div id="milestones">
                {{#milestonesIncomplete}}
                    <div class="row bg-light border rounded m-1 mt-2" id="milestone-{{id}}">
                        <div class="col-6">
                            <label id="m-title-{{id}}" class="milestone-title">{{name}}</label>
                            <p id="m-date-{{id}}">{{dueDate}}</p>
                        </div>
                        <div class="col-6 justify-content-end">
                            <div class="btn-group btn-block pt-1" role="group" aria-label="MS controls">
                                <button id="{{id}}_edit" type="button" class="milestoneBtn btn"><i
                                        class="fas fa-edit fa-lg"></i>
                                </button>
                                <div class="edit-container" id="edit-container">
                                </div>
                                <button id="{{id}}_trash" type="button" class="milestoneBtn btn"><i
                                        class="fas fa-trash-alt fa-lg"></i>
                                </button>
                                <button id="{{id}}_share" type="button" class="milestoneBtn btn">
                                    {{#shared}}
                                        <i class="fas fa-share-square fa-lg"></i>
                                    {{/shared}}
                                    {{^shared}}
                                        <i class="far fa-share-square fa-lg"></i>
                                    {{/shared}}
                                </button>
                                <button id="{{id}}_comp" type="button" class="milestoneBtn  btn"><i
                                        class="far fa-check-circle fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {{/milestonesIncomplete}}
            </div>
            <div class="row  m-1 mt-3">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="collapse"
                        data-target="#milestonesComplete" aria-expanded="false" aria-controls="collapseExample">
                    Completed
                </button>
            </div>
            <div class="collapse" id="milestonesComplete">
                {{#milestonesComplete}}
                    <div class="row bg-light border rounded m-1 mt-2" id="milestone-{{id}}">
                        <div class="col-6">
                            <label id="m-title-{{id}}" class="milestone-title">{{name}}</label>
                            <p id="m-date-{{id}}">{{dueDate}}</p>
                        </div>
                        <div class="col-6 justify-content-end">
                            <div class="btn-group btn-block pt-1" role="group" aria-label="MS controls">
                                <button type="button" class="milestoneBtn btn disabled" disabled><i
                                        class="fas fa-edit fa-lg"></i>
                                </button>
                                <div class="edit-container" id="edit-container">
                                </div>
                                <button id="{{id}}_trash" type="button" class="milestoneBtn btn"><i
                                        class="fas fa-trash-alt fa-lg"></i>
                                </button>
                                <button id="{{id}}_share" type="button" class="milestoneBtn btn">
                                    {{#shared}}
                                        <i class="fas fa-share-square fa-lg"></i>
                                    {{/shared}}
                                    {{^shared}}
                                        <i class="far fa-share-square fa-lg"></i>
                                    {{/shared}}
                                </button>
                                <button type="button" class="milestoneBtn  btn disabled" disabled><i
                                        class="fas fa-check-circle fa-lg"></i>
                                </button>
                            </div>
                            <label class="text-muted ml-5">Completed on <p style="display: inline;">{{dateCompleted}}</p></label>
                        </div>
                    </div>
                {{/milestonesComplete}}
            </div>
        </div>
    </div>
</div>
<!-- End of Main -->

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<script src="/js/js-date-formatter.js"></script>
<script src="/js/home.js"></script>


</body>

</html>