<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/images/123logo.png">
    <link rel="shortcut icon" sizes="196x196" href="/images/123logo.png">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>

    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <!-- Include English language -->
    <title>Home page</title>

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-9">
        <div class="row d-flex align-items-end">
            <div class="col-1-2">
                <h4 class="mb-0">Project</h4>
            </div>
            <div class="col-3 ">
                <div class="input-group input-group-sm">
                    <select class="custom-select" id="inputGroupSelectProject"
                            aria-label="Example select with button addon">
                        {{#projects}}
                            <option value="{{id}}">{{name}}</option>
                        {{/projects}}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i
                                class="fas fa-plus-square fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-4 justify-content-center">
                <button type="button" class="btn btn-sm btn-default">
                    <i class="fas fa-user-plus fa-lg"></i>
                </button>
                <div class="d-inline-block align-middle">
                    <label class='mb-0'> <i class="fas fa-user-circle fa-lg"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="float-right d-flex">
            <div class="dropleft">

                <div class="dropdown-menu col-12 p-3" aria-haspopup="true" aria-expanded="false">

                    <div class="row">
                        <div class="col p-1">
                            <label class='font-weight-bold'>Logout now?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 p-1">
                            <a href="#" class='btn btn-primary btn-sm btn-block'>Cancel</a>
                        </div>

                        <div class="col-6 p-1">
                            <form action="login" method="get">
                                <input type="hidden" name="action" value="delete"/>
                                <button type="submit" class='btn btn-primary btn-block'><i
                                        class="fas fa-sign-out-alt fa-lg"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-inline-block">
                <label class=' col-sm-auto text-center'> <i class="fas fa-user-circle fa-2x"></i>
                    <p class="mb-0">{{fullName}}</p>
                </label>
            </div>
        </div>
    </div>
</nav>
<!-- End of Navigation -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-2">
            <div class="row mt-3 mr-1">
                <div class="col-4">
                    <h3>
                        Today
                    </h3> <span class="">{{formattedDate}}</span>
                </div>
            </div>

        </div>
    </div>
    <p class="text-muted mt-3"><i class="fas fa-info-circle"></i> This milestone has been publicly shared!</p>
    <div class="row border rounded m-1 mt-3 d-flex"  id="milestone-list">
        <div class="col-12" id="milestones">
            {{#milestone}}
                <div class="row bg-light border rounded m-1 mt-2">
                    <div class="col-6">
                        <label id="m-title-{{id}}">{{name}}</label>
                        <p id="m-date-{{id}}">{{dueDate}}</p>
                    </div>
                </div>
            {{/milestone}}
        </div>
    </div>
</div>
<!-- End of Main -->

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<script src="/js/js-date-formatter.js"></script>
<script src="/js/home.js"></script>
</body>

</html>