<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="script" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"/>
    <link rel="script" href="/js/authentication.js"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/authentication.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<header id="authentication-header" class="container-fluid">
    <img src="/images/123logo.png" width="264" height="128"/>
</header>
<div class="bottom-stripe fixed-bottom rounded-top rounded-lg"></div>
<section id="main-section" class="d-flex align-items-center justify-content-center text-center">
    <div id="flash">
        <div class=""></div>
    </div>
    <div id="authentication-card" class="card ">

        <h4>Welcome, Login Here</h4>
        <form id="userLogin" class="user-login" accept-charset="UTF-8" action="/login" method="post">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <input id="userName" class="form-control" name="userName" type="text" autofocus="autofocus"
                                   placeholder="Username"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input id="userPassword" class="form-control" autocomplete="off" name="userPassword"
                                   type="password"
                                   placeholder="Password"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary btn-block text-light"  href="/register">Register</a>
                            </div>
                            <div class="col">
                                <input class="btn btn-primary btn-block" name="logIn" type="submit" value="Log in"/>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</section>
<footer class="text-center text-light fixed-bottom">
    <p>Copyright © 2019 Team 123. All rights reserved.</p>
</footer>
</body>
</html>
